<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IKwConvertService" />
        <binding name="BasicHttpBinding_ICarDataService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/CarService/KwConvertService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKwConvertService"
        contract="SR_CarService.IKwConvertService" name="BasicHttpBinding_IKwConvertService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/CarDatabaseService/CarDataService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarDataService"
        contract="SR_CarDatabaseService.ICarDataService" name="BasicHttpBinding_ICarDataService" />
    </client>
  </system.serviceModel>
  
</configuration>